@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
@*                     <img src="@Html.DisplayNameFor(modelItem => item.Image)" />
 *@                </div>

@*                 <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                <div class="card-heading">
                    @Html.DisplayNameFor(modelItem => item.Name)
                </div>
                <div class="card-text">
                    @Html.DisplayNameFor(modelItem => item.Description)
                </div>
                <div class="card-text">
                    @Html.DisplayNameFor(modelItem => item.Price)
                </div>
                <a href="#" class="card-button"> Purchase</a> *@
            </div>
        </div>
    </div>
